.openTextArea {
    float: right;
    cursor: pointer;
    color: white;
}

.taskActions {
    /* float: right; */
    background-color: white;
    border: 1px solid white;
}

#dropdown-basic {
    border: 0px;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    float: right;
    background-color: #ff7256;
}

#dropdown-basic.dropdown-toggle::after {
    display: none;
} 

