.member-list button { 
    background-color: white;
    border: none;
}

li { 
    /* border: 1px solid lightgrey; */
    margin-bottom: 7px;
}

.pdfViewer {
    height: 520px;
    width: 380px;
}

.pdfDownloadLink {
    margin-bottom: 50px;
}
