.heading { 
    text-align: center;
    color: #43cd80;
}

.removeMemberAlert {
    background-color: red;
    color: white;
}

.addMemberAlert { 
    background-color: green;
    color: white;
}

.adminForms h3 {
    color: #ff7256;
}