
.engagementsImg {
  margin-bottom: 100px;
}

.header{
  background-color: blue;
  color: white;
  width: 100%;
  text-align: center;
  height: 170px;
  padding: 30px ;
}

.header-title{
  font-size: 50px;
}

.header-text{
  font-size: 20px;
}

.landingPage h5 {
  color: #ff7256;
}

.landingPage img {
  width: 535px;
  height: 250px;
}

.demoBoardLink {
  padding-top: 10px;
}

@media screen and (max-width: 541px) {
  .landingPage img {
    width: 350px;
    height: 164px;
  }
  
  .landingPage h4 {
    font-size: small;
  }
} 

@media screen and (max-width: 378px) {
  .landingPage img {
    width: 280px;
    height: 131px;
  }
  
  .landingPage h4 {
    font-size: small;
  }
} 