
.timesheet {
  padding: 20px;
}

.engagementView {
  margin-bottom: 200px;
}

.header{
  background-color: blue;
  color: white;
  width: 100%;
  text-align: center;
  height: 170px;
  padding: 30px ;
}

.header-title{
  font-size: 50px;
}

.header-text{
  font-size: 20px;
}

.bg-grey{
  background-color:#f6f6f6;
}

.landingPage h4 {
  color: #ff7256;
  padding-top: 70px
}
