.member-list button { 
    background-color: white;
    border: none;
}

li { 
    /* border: 1px solid lightgrey; */
    margin-bottom: 7px;
}

.pdfViewer {
    height: 520px;
    width: 380px;
}

.pdfDownloadLink {
    margin-bottom: 50px;
    float: right;
}

.backToTasks {
    float: right;
}

.btn.btn-primary {
    background-color: #1874cd;  
}

.engName {
    text-align: center;
    color: #ff7256;
}

.teamNameEngPage { 
    text-align: center;
    color: #43cd80;
}